# unit 6.변수(Variable

 - 표기법

In [1]:
my_height = 174.5       #snake 표기법/중간에 _로 구분 ,파이썬
myWeight = 72           #camel표기법/ 중간에 대문자로 변환 ,자바

In [1]:
한글변수 = 5        #한글 변수명이 가능하나 잘 안씀

### 6.변수 만들기

In [3]:
x =10

In [9]:
x, y, z = 10, 20, 30  #tuple unpacking
x,y,z

(10, 20, 30)

In [13]:
#기본 언어에서 두개의 값을 바꾸는 방법
# java
temp = x
x = y
y = temp
x, y

(10, 20)

In [12]:
#python
x,y = y,x
x, y

(20, 10)

In [14]:
x = y = z = 10

In [15]:
#값이 없는 변수
x = None

### 6.2 변수계산

In [19]:
a,b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [20]:
#변수 a의 값을 20 만큼 증가
a = a + 20
a

30

In [24]:
a += 20     # a = a + 20
a

110

In [27]:
# 1 에서 100 까지 합 구하기
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [28]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

### 6.3 입력(input)

In [32]:
x = input()
x, type(x)

('1024', str)

In [35]:
number = int(input('정수를 입력하세요>'))  #promt
number, type(number)

(20, int)

In [36]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + b)
#str 형태로 붙기때문에 1020이 된다

1020

In [38]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + int(b))
#덧셈을 원하면 int 씌우기, 위치는 위에 두가지 참고

30