# unit 6.변수(Variable

 - 표기법

In [1]:
my_height = 174.5       #snake 표기법/중간에 _로 구분 ,파이썬
myWeight = 72           #camel표기법/ 중간에 대문자로 변환 ,자바

In [1]:
한글변수 = 5        #한글 변수명이 가능하나 잘 안씀

### 6.변수 만들기

In [3]:
x =10

In [9]:
x, y, z = 10, 20, 30  #tuple unpacking
x,y,z

(10, 20, 30)

In [13]:
#기본 언어에서 두개의 값을 바꾸는 방법
# java
temp = x
x = y
y = temp
x, y

(10, 20)

In [12]:
#python
x,y = y,x
x, y

(20, 10)

In [14]:
x = y = z = 10

In [15]:
#값이 없는 변수
x = None

### 6.2 변수계산

In [19]:
a,b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [39]:
#변수 a의 값을 20 만큼 증가
a = a + 20
a

30

In [40]:
a += 20  #a = a + 20
a

50

In [65]:
# 1 에서 100 까지 합 구하기
summation = 0
for i in range(1,101):
    summation += i
print(summation)

5050

In [66]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

### 6.3 입력(input)

In [32]:
x = input()
x, type(x)

('1024', str)

In [68]:
number = int(input('정수를 입력하세요>'))  #promt
number, type(number)

(10, int)

In [69]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + b)
#str 형태로 붙기때문에 1020이 된다

1020

In [70]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + int(b))
#덧셈을 원하면 int 씌우기, 위치는 위에 두가지 참고

30

### 6.4 입력값 두개 받기

In [71]:
#스트링 splirt() method
'10 20'.split()     #공백으로 분리하여 두개의 문자열이 리스트로 반환

['10', '20']

In [72]:
a , b = '10 20'.split() 
a,b

('10', '20')

In [73]:
a, b = input('두개의 숫자를 입력하세요.').split()
a, b

('10', '20')

In [74]:
int(a) + int(b)

30

In [51]:
#map
list(map(int, ['10','20']))

[10, 20]

In [75]:
a, b = map(int, input('두개의 숫자를 입력하세요.').split())
a, b, a+b

(10, 20, 30)

In [5]:
# ,  로 분리된 숫자 세개를 입력으로 받아 합계를 구하기
a, b, c = map(int, input(',로 분리된 숫자 세개를 입력하세요.').split(','))
a, b, c, a+b+c
#split안에 원하는 기호로 나눔을 정리할 값을 입력 가능하다

(34, 5, 6, 45)

- 숫자 N개를 입력 받아서 합계와 평균을 구하는 방법

In [7]:
numbers = list(map(int, input('정수 여러개를 입력하세요.').split()))
numbers

[44, 55, 66]

In [8]:
# 합계, 평균
sum(numbers), sum(numbers)/len(numbers)

(165, 55.0)