# unit22. 리스트와 튜플 응용하기

### 22.1 리스트 조작

In [70]:
#sum 은 함수( function)
a = [1, 3, 4, 5, 9]
sum(a)

22

In [71]:
# append는 method
a.append(11)
a

[1, 3, 4, 5, 9, 11]

- method 1 : 리스트에 요소 추가하기 = append

append: 요소 하나를 추가

extend: 리스트를 연결하여 확장

insert: 특정 인덱스에 요소 추가

In [72]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [73]:
#솟수(prime number) - 2, 3, 5, 7, 11, ...
prime_numbers = []

def is_prime_number(num):
    if num == 2:
        return True
    for i in range(2,num):
        if num % i == 0:
            return False
    return True


for i in range(2,101):
    if is_prime_number(i):
        prime_numbers.append(i)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [74]:
# 1에서 100까지 7의 배수 리스트 만들기
multiple7 = []
for i in range(1,101):
    if i % 7 == 0:
        multiple7.append(i)
multiple7

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [75]:
a = [10,20, 30]
a.append([100,200])
a

[10, 20, 30, [100, 200]]

In [76]:
b = [10, 20, 30]
b.extend([100, 200])
b

[10, 20, 30, 100, 200]

In [77]:
c = [10, 20, 30]
c.insert(0,100)  #index element
c

[100, 10, 20, 30]

- 요소삭제

pop : 마지막 요소 또는 특정 인덱스의 요소 삭제

remove : 특정 값을 찾아 삭제

In [78]:
del c[0]
c

[10, 20, 30]

In [79]:
a= [10, 20, 30]
last_value = a.pop()
last_value, a

(30, [10, 20])

In [80]:
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

- 스텍 Stack(Last-In,First-out)
- 큐 Queue(First-In, First-Out)

- 특정 값의 인덱스

In [81]:
a =[10,20,30,20,40]
a.index(20)

1

- 특정 값의 갯수

In [82]:
a.count(20)

2

- 리스트의 순서 뒤집기

In [83]:
a = [10, 20, 30, 40, 50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [84]:
a = list(reversed(a))
a

[10, 20, 30, 40, 50]

In [85]:
a[::-1]

[50, 40, 30, 20, 10]

- 정렬(sort)

In [86]:
#올림차순(ascending order)
a= [10,20,50, 30,40]
a.sort()
a

[10, 20, 30, 40, 50]

In [87]:
#반복문으로 sort구현. 버블소트
a= [10,20,50,5,3,30,40]
for i in range(len(a)-1):
    for k in range(i+1, len(a)):
        if a[i] > a[k]:
            a[i], a[k] = a[k], a[i]
a

[3, 5, 10, 20, 30, 40, 50]

In [88]:
#내림차순(descending order)
a= [10,20,50,2,5,4,30,40]
a.sort(reverse=True)
a

[50, 40, 30, 20, 10, 5, 4, 2]

In [89]:
#다음 중 상위 점수 3개
import random
numbers = []
for i in range(30):
    numbers.append(random.randint(1,100))
print(numbers)

[5, 73, 89, 47, 80, 39, 48, 98, 76, 90, 51, 66, 9, 43, 62, 31, 70, 80, 27, 85, 82, 66, 61, 26, 92, 43, 40, 67, 57, 17]

In [90]:
numbers.sort(reverse=True)
numbers[:3]

[98, 92, 90]

In [91]:
numbers.reverse
numbers[:3]

[98, 92, 90]

In [92]:
sorted(numbers, reverse=True)[:3]

[98, 92, 90]

- 리스트의 모든 요소 삭제

In [93]:
a = [10, 20,30]
a.clear()
a

[]

- 리스트의 슬라이스

In [94]:
a= [20,30,30]
a.extend([400, 500])
a

[20, 30, 30, 400, 500]

In [95]:
a = [10, 20, 30]
a[len(a):] = [400, 500]
a

[10, 20, 30, 400, 500]

In [96]:
a = [10, 20, 30]
a[1:1] = [500, 600]
a

[10, 500, 600, 20, 30]

In [97]:
a = [10, 20, 30]
a[3:] = [50,60]
a

[10, 20, 30, 50, 60]

### 11.2 리스트의 할당과 복사

In [98]:
a = [0,0,0]
b = a

In [99]:
b[1] = 10
b

[0, 10, 0]

In [100]:
#side effect로 의도하지 않았던 a 값이 변경됨
a

[0, 10, 0]

In [101]:
a is b

True

In [102]:
#shallow copy
a = [0,0,0]
b = a.copy()
b[1] = 20
b

[0, 20, 0]

In [103]:
a

[0, 0, 0]

In [104]:
a is b
#copy는 a b 서로 같은 값이 적용안됨

False

In [105]:

#2차원 이상에서는 Deep copy가 필요함
a = [[0,0],[0,0]]
b = a.copy()
b[1][1] = 30
b

[[0, 0], [0, 30]]

In [106]:
a

[[0, 0], [0, 30]]

### 22.3 반복문과 리스트

In [107]:
fruits = ['apple','banana','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

- 리스트와 요소 모두 출력(enumerate)

In [108]:
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [109]:
for index, item in enumerate(fruits, start=1):
    print(index, item)

1 apple
2 banana
3 cherry

In [110]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry

### 22.4 min, max, sum

In [111]:
a = [38, 21, 53, 62, 19]
smalllist = a[0]
for i in a:
    if i < smalllist :
        smalllist = i
smalllist

19

In [113]:
largest = 0
for i in a:
    if i > largest :
        largest = i
largest

62

In [116]:
#파이썬에선 간단하게 함수 사용
min(a),max(a)

(19, 62)

In [115]:
sum(a)

193

### 22.5 리스트 표현식(comprehension)
- [식 for 변수 in 리스트]

In [117]:
#1에서 10까지 제곱수로 된 리스트 만들기
sq_list =[]
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [119]:
sq_list = [i*i for i in range(1,11)]
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [120]:
odd_sq_list = []
for i in range(1,11):
    if i % 2 == 1:
        odd_sq_list.append(i*i)
odd_sq_list

[1, 9, 25, 49, 81]

In [121]:
odd_sq_list = [ i*i for i in range(1,11) if i % 2 == 1 ]

In [122]:
#구구단
a =[i *k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [128]:
a =[i *k for i in range(2,10) 
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map 적용

In [136]:
a = [1.2, 2.5, 3.7, 4.6]
b = []
for element in a:
    b.append(int(element))
b

[1, 2, 3, 4]

In [137]:
b = list(map(int,a))
b

[1, 2, 3, 4]

In [138]:
b= [int(element) for element in a]
b

[1, 2, 3, 4]

In [139]:
#a의 제곱수로 된 리스트
a = [1.2, 2.5, 3.5, 4.6]
sq_a = []
for element in a:
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 12.25, 21.159999999999997]

In [140]:
#리스트 표현식으로
sq_a = [element*element for element in a]
sq_a

[1.44, 6.25, 12.25, 21.159999999999997]

In [143]:
#map 적용
def square(x):
    return x*x

sq_a = list(map(square,a))
sq_a

[1.44, 6.25, 12.25, 21.159999999999997]

In [145]:
#익명 (lambda) 함수와  map 적용
sq_a = list(map(lambda x: x*x, a))
sq_a

[1.44, 6.25, 12.25, 21.159999999999997]

##### 리스트에서 반드시 기억해야하는것들
- append 매소드
- pop 매소드
- 인덱스
- 정렬(sort)/ 상의점수 세개 예제
- 할당 복사
- enumerate
- 리스트 표현식으로 코드를 고급스럽게
- map