# Unit. 23 2차원 리스트 사용하기

In [4]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [5]:
from pprint import pprint
pprint(a, indent=1, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [6]:
import numpy as np
b = np.arange(1,7).reshape(3,2)*10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [8]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열','둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [10]:
# 2차원 리스트의 인덱싱: [행인덱스][열인덱스]
a[2][1], a[-1][-2]

(60, 50)

In [11]:
#넘파이 2차원 어레이 인덱싱 : [행,열]
b[2, 1], b[-1,-1]

(60, 60)

In [12]:
#데이터프레임 인덱싱;[열][행]
df['둘째열'][2]

60

- 톱니형 리스트

In [15]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

### 23.2 반복문과 2차원 리스트

In [16]:
a = [[10, 20], [30, 40], [50, 60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [17]:
for x,y in a:
    print(x,y)

10 20
30 40
50 60

In [18]:
for row in a:
    for element in row:
        print(element,end=' ')
    print()

10 20
30 40
50 60

In [19]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
     
for row in a:
    for element in row:
        print(element,end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

In [20]:
len(a), len(a[0]),len(a[1])

(6, 2, 3)

In [21]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

### 23.3 반복문으로 리스트 만들기

In [22]:
#[[10,11],[20,21],[30,31]]
for i in range(3):
    for k in range(2):
        print(10*(i+1)+k, end=' ')
    print()

10 11
20 21
30 31

In [24]:
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(2):
        inner_list.append(10*(i+1)+k)
    outer_list.append(inner_list)

pprint(outer_list, indent=1, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [25]:
a = []
for i in range(3):
    for k in range(2):
        a.append(10*(i+1)+k)
a

[10, 11, 20, 21, 30, 31]

In [26]:
two_d = []
for i in range(3):
    line = []
    for k in range(2):
        line.append(10*(i+1)+k)
    two_d.append(line)
two_d

[[10, 11], [20, 21], [30, 31]]

- 리스트 표현식

In [30]:
#바깥쪽 : [for i in range(3)]
#안쪽 : [(10*(i+1)+k for k in range(2)]
[[10*(i+1)+k for k in range(2)]for i in range(3)]

[[10, 11], [20, 21], [30, 31]]

In [49]:
#[[1,2,3,4].[11,12,13,14],[21,22,33,24]]
#행인덱스(i): 0,1,2 - range(3)
#열인덱스(k):0,1,2,3 - range(4)
#일반항 : 10 * i + k + 1
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(10*i+k+1)
    two_d.append(line)
two_d

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [50]:
[[10*i+k+1 for k in range(4)]for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [51]:
[[10*i+k for k in range(1,5)]for i in range(3)]

[[2, 3, 4, 5], [12, 13, 14, 15], [22, 23, 24, 25]]

- 2차원 리스트의 정렬은 추후 데이터 프레임을 이용한 정렬에서 학습

In [52]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]
df = pd.DataFrame(students,columns=['name','class','numbers'])
df

     name class  numbers
0    john     C       19
1   maria     A       25
2  andrew     B        7

In [53]:
df.sort_values(by='class',inplace=True)
df

     name class  numbers
1   maria     A       25
2  andrew     B        7
0    john     C       19

### 23.4 2차원 리스트의 할당과 복사

In [59]:
a = [[0, 0], [0, 0],[0, 0]]
b = a.copy()
b[1][1] =30
b

[[0, 0], [0, 30], [0, 0]]

In [56]:
a

[[0, 0], [0, 30], [0, 0]]

In [62]:
import copy
a = [[0, 0], [0, 0],[0, 0]]
b = copy.deepcopy(a)
b[1][1] =30
b

[[0, 0], [0, 30], [0, 0]]

In [63]:
a

[[0, 0], [0, 0], [0, 0]]