# Unit 10. 리스트와 튜플

### 10.1 리스트(List)

In [1]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

In [7]:
import numpy as np
b = list(np.random.randint(10,70,10))
b

[52, 55, 65, 39, 47, 44, 58, 52, 53, 35]

In [8]:
# 리스트에는 여러 자료형을 사용할 수 있음
person = ['james', 27, 175.3, '남']
person

['james', 27, 175.3, '남']

In [9]:
#위의 리스트는 어래와 같은 딕셔너리로 표현하는 것이 더 좋다.
{'name':'jame', 'age':27, 'height': 175.3, 'gender':'남'}

{'name': 'jame', 'age': 27, 'height': 175.3, 'gender': '남'}

 - 빈 리스트 만들기

In [ ]:
a = []
b = list()
a, b = [],[]

In [13]:
import random
a= []
for i in range(5):
    a.append(random.randint(60,100))
a

[86, 86, 78, 95, 75]

- range 객체

In [14]:
#range paramater(매개변수) 1개일땐 :횟수의 의미(0 ~ n-1)
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
#range paramater(매개변수) 2개일땐 : 횟수 의미(입력시작값  ~ n-1)
list(range(1,5))

[1, 2, 3, 4]

In [18]:
#range paramater(매개변수) 3개일땐 : 횟수 의미(입력시작값, 끝 ~ n-1, 증가폭)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [21]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

### 10.2 튜플(tuple)

In [22]:
person

['james', 27, 175.3, '남']

In [25]:
 a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [24]:
person = ('james', 27, 175.3, '남')
person

('james', 27, 175.3, '남')

In [26]:
# [] = list, numpy array
# () = tuple
# {} = dictionary or set

- 요소가 1개인 튜플만들기

In [30]:
#괄호로 묶어도 튜플인 안되고 정수가 됨
size = (3)
type(size)

int

In [31]:
size = (3,)
type(size)

tuple

In [32]:
size = 3,
type(size)

tuple

- 튜플안 요소를 변경, 추가, 삭제할 수도 없다.

In [33]:
t = ()
type(t)

tuple

In [35]:
#최초에 추가는 가능하다.
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

- 리스트<->튜플

In [36]:
l = list(t)
type(l)

list

In [43]:
type(tuple(l))

tuple

- 리스트에 문자열 넣기

In [44]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

In [45]:
list('adcd')

['a', 'd', 'c', 'd']

- list/tuple unpacking

In [46]:
a, b, c, d = 'a', 'b', 'c','d'
a, b, c, d

('a', 'b', 'c', 'd')

In [47]:
a, b, c, d = list('abcd')
a, b, c, d

('a', 'b', 'c', 'd')

In [48]:
x,y,z = range(3)
x,y,z

(0, 1, 2)

In [49]:
x,y,z = input().split()
x,y,z

('10', '20', '30')

In [51]:
x,y,z = map(int, input().split())
x,y,z

(10, 20, 30)

In [54]:
x,y,z = map(lambda x: int(x)*2 + 5, input().split())
x,y,z

(25, 45, 65)